{% extends 'base.html' %}

{% block content %}

<h1>HOME PAGE</h1>
<table>
{% for list in board %}
    <tr>
        {% for char in list %}
            <td>{{char}}</td>
        {% endfor%}
    </tr>
{% endfor %}
</table>
<div id="gameContainer">
<form id ='word_form'></form>
    <label>Check A Word</label>
    <input type="text" name="word" id="word">
    <button id="checkWord">Check Word</button>
</form>
<p id="score">0</p><p id="timer"></p>
<p id = 'msg'>Let's Play Boggle!</p>
<ul id ="found">
</ul>
</div>
{% endblock %}
{%block scripts%}
<script>let game = new BoggleGame </script>
{%endblock%}