{% extends 'base.html' %}

{% block content %}

<h1>HOME PAGE</h1>
<table>
{% for list in board %}
    <tr>
        {% for char in list %}
            <td>{{char}}</td>
        {% endfor%}
    </tr>
{% endfor %}
</table>
<form id ='word_submit'></form>
    <label>Check A Word</label>
    <input type="text" name="word" id="word">
    <input type="submit" id="submit" value="Check Word">
</form>
<p id = 'msg'>Let's Play Boggle!</p>
<ul id ="found">
</ul>

{% endblock %}
{%block scripts%}
<script>let game = new BoggleGame </script>
{%endblock%}